# Python
__pycache__/
*.py[cod]
*.pyd
*.pyo
*.pyc

# Backend temp downloads
backend/temp_downloads/

# Environment files
.env
.env.*

# Node / Next.js
node_modules/
.next/
out/
dist/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db
